Source: powerdebug
Section: utils
Priority: optional
Maintainer: Amit Arora <amit.arora@linaro.org>
Build-Depends: cdbs, debhelper (>= 7), libncursesw5-dev, libncurses5-dev
Standards-Version: 3.8.4
Homepage: <insert the upstream URL, if relevant>

Package: powerdebug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: This tool displays regulator and sensor information.
 PowerDebug refreshes this information every three seconds. You can
 also use dump option to display the information just once.
